<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dropdown projekata</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Odabir projekata</h1>
    <form action="/menager/projects/details" method="get">
        <div class="form-group">
            <label for="projectDropdown">Izaberite projekat:</label>
            <select class="form-control" id="projectDropdown" name="projectId" required>
                <% projects.forEach(project => { %>
                    <option value="<%= project.id %>"><%= project.naziv %></option>
                <% }); %>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Generisi i pošalji detalje</button>
    </form>
    <br>
    <a href="/users/dashboard" class="btn btn-primary mb-3">Povratak na Početak</a><br>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
